* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.looking-main-conta {
    min-height: 850px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;

}

.looking-first-conta {
    height: auto;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.looking-hesd-co {
    font-size: 3em;
    font-weight: bold;
}

.look-head-parag {
    font-size: 1.5em;
    text-align: center;
    color: gray;
}





.looking-seco-conta {
    height: auto;
    width: 70%;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

.each-conta-looking {
    width: 32%;
    height: 8rem;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    justify-content: end;
    padding-bottom: 2rem;
}

.each-conta-looking p {
    font-weight: bold;
    font-size: .8em;
    margin-bottom: 0;
}

.each-conta-looking div {
    height: .3rem;
    width: 20%;
    background-color: rgb(255, 89, 0);
    transition: width 0.3s ease-in-out;
}

.each-conta-looking:hover div {
    width: 100%;
}


@media (min-width: 350px) and (max-width: 750px){
    .looking-first-conta {
        width: 90%;
    }

    .looking-seco-conta {
        width: 100%;
    }

    .each-conta-looking {
        width: 100%;
    }
}


@media (min-width: 750px) and (max-width: 1200px){
    .looking-first-conta {
        width: 90%;
    }

    .looking-seco-conta {
        width: 80%;
        justify-content: center;
        gap: 2rem;
    }

    .each-conta-looking {
        width: 48%;
    }
}