* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.map-office-name {
    min-height: 25rem;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.div-for-whole-compo {
    padding-top: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 23rem;
    height: auto;
    width: 70%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
}

.cor-off-address {
    width: 100%;
    min-height: 15%;
    font-size: 2em;
    font-weight: bold;
    color: rgb(0, 0, 104);
    height: auto;
}




.map-address-head {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 19.5rem;
}

.ofice-addr {
    width: 30%;
    background-color: rgb(102, 102, 102);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin-bottom: .8rem;
}

.ofice-addr button {
    height: 50px;
    width: 70%;
    border: none;
    background-color: rgb(14, 53, 112);
    color: white;
    font-size: 19px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
}

.ofice-addr button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(14, 53, 112);
    font-size: 19px;
    text-decoration: underline;
}

.google-map-area {
    width: 70%;
}

.google-map-area iframe {
    width: 735px;
    height: 300px;
}



@media (min-width: 350px) and (max-width: 750px) {
    .map-office-name {
        padding-bottom: 2rem;
    }

    .div-for-whole-compo {
        width: 100%;
    }

    .map-address-head {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 2rem;
    }

    .ofice-addr {
        width: 100%;
        padding: 1rem;
    }

    .google-map-area {
        width: 100%;
        overflow: hidden;
    }

    .google-map-area iframe {
        width: 750px;
        height: 300px;
    }

}

@media (min-width: 750px) and (max-width: 1400px) {
   
    .div-for-whole-compo {
        padding-left: 0rem;
        padding-right: 0rem;
        width: 90%;
    }

    .google-map-area iframe {
        width: 62.5vw;
    }

    .ofice-addr {
        width: 35%;
        padding: 1rem;
        height: 18.8rem;
    }

    .google-map-area {
        width: 65%;
        overflow: hidden;
    }

    .ofice-addr button {
        width: 90%;
        
    }

    .ofice-addr {
        margin-bottom: .1rem;
    }


}